BODY { padding: 1em; font: 14px arial, helvetica, sans-serif; 
   color: black; background-color: #E0E0E0; 
}

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.nowrap { white-space: nowrap; }

.header { width: 100%; }
.header .title { font: 24px arial; font-weight: bold; vertical-align: bottom; }
.header .subtitle { font: 14px arial; font-weight: bold; vertical-align: bottom; }

.footer { padding: 1em; background-color: #C2C2C2; width: 100%; 
   font: 10px arial; width: 100%; }
.footer-left { text-align: left; }
.footer-center {}
.footer-right { text-align: right; }

/*.error { width: 40%; border: 2px dotted red; margin: 1em; padding: 1em;
   font: 14px arial; font-weight: bold; vertical-align: middle; }
.error .desc { margin: 1em;
   font: 12px arial; font-weight: normal; vertical-align: middle; }*/

#login { width: 40%; }
FORM TH { text-align: left; font-weight: normal; }
BUTTON,INPUT,TEXTAREA,SELECT { border: 1px solid gray; -moz-border-radius: 4px; padding: 2px 4px; }
form input[type="text"] { width: 30px; }
.pointer { cursor: pointer; }

.wideitem { width: 100%; }
.longitem { white-space: nowrap; overflow: hidden; text-overflow : ellipsis; }

.paginator { border-top: 1px solid gray; border-bottom: 1px solid gray; 
   font-size: 10px; padding: 0px 1em; }
.paginator A { font-family: monospace; }

.panel { padding: 1em; background-color: #C2C2C2; width: 100%; }

.orders { width: 100%; border-collapse: collapse; border: 0px; background-color: white; color: black; }
.orders TD { cursor: pointer; padding: 2px 4px; }
.orders .header { border-top: 1px solid gray; border-bottom: 1px solid gray; }
.orders .total { font-weight: bold; border-top: 1px solid gray; border-bottom: 1px solid gray; }
.orders .even { background-color: #F0F0F0; }

.orderinfo .title { font: 24px arial; font-weight: bold; vertical-align: bottom; }
.orderinfo .area { background-color: white; padding: 4px; }
.orderinfo .area .title { font: 16px arial; font-weight: bold; vertical-align: bottom; }
.orderinfo .area .content { padding: 1em; }
.orderinfo .client { font-weight: bold; margin: 0.5em 0em; }

.errorlist { border: 1px dashed red; padding: 2px 4px; }
.error { font-family: monospace; font-size: 10px; }

