* { margin: 0px; padding: 0px; }

html, body { height: 100%; }

body {
   font: 14px/1.5 verdana, sans-serif;
   font-family: 'Trebuchet MS',Arial,Helvetica,sans-serif;
   font-style: normal;
   background: #e0e0e0 url(/pics/background.jpeg) repeat-x scroll 0 0;
   color: #333;
}

table { width: 100%; border-collapse: collapse; }
table tr td { height: 100%; margin: 0px; }

form { margin: 0em; }
input,textarea,select { border: 1px solid gray; -moz-border-radius: 4px; padding: 2px 4px; margin: 2px 0px;}

.header { }
.footer {  }

.pointer { cursor: pointer; }
.left { text-align: left; }
.lfloat { float: left; }
.rfloat { float: right; }
.center { text-align: center; }
.right { text-align: right; }
.top { vertical-align: top; }
.middle { vertical-align: middle; }
.show { display: block; }
.hide { display: none; }
.nowrap { white-space: nowrap; }

.money { font-family: courier; font-size: 110%; font-weight: bold; }

.active-zone {
   cursor: pointer;
   padding: 2px 4px; margin: 4px;
   border: 2px solid #77ff77; -moz-border-radius: 4px;
   background-color: #ccffcc; color: black;
}

.important-zone-discount {
   position: absolute; top: 0; right: 0; 
   line-height: 0.8;
   padding: 2px 4px;
   background-color: #aaff77;
   border: 0px solid #77ff77; 
   border-width: 0px 0px 1px 1px; -moz-border-radius: 0 0 0 8px;
}

.button { 
   cursor: pointer;
   border: 2px solid #88aacc; 
   background-color: #99bbdd; 
   padding: 0px 3px;
   line-height: 1.0;
}

.disabled {
   border: 2px solid #888888; 
   background-color: #999999; 
}
   
#advicebot { 
   height: 0px;
}
#advicebot .trigger { 
   font-size: 90%; padding: 2px 2em; 
   color: white; background-color: #bfab30; 
}
#advicebot table {
   background-color: #FFEB73; 
   border-bottom: 3px solid #bfab30; 
   opacity: 0.9; filter: alpha(opacity=0.9);
}
#advicebot table .title { 
   width: 25%; text-align: right;
   padding: 4px 8px; white-space: nowrap;
   color: white; background-color: #cfbb40; 
   font-size: 110%; font-weight: bold;
}
#advicebot table .desc {
   color: #54026e; background-color: #FFEB73; 
   font-weight: normal; padding: 1em;
   text-align: left; vertical-align: bottom; 
   opacity: 0.9; filter: alpha(opacity=0.9);
}

#control { margin-top: 1em; }

#title-phone {
   font-family: comic sans ms; font-size: 300%; margin-bottom: 0.2em; vertical-align: middle;
}
#title-phone .region-code { color: gray; }
#title-phone .phone-number { color: black; }

form input[type="text"] { width: 96%; }

#cartwidget {
   border: 0px solid orange; -moz-border-radius: 0.4em 0em 0em 0.4em;
   background-color: orange;
}
#cartwidget .header {
   font-family: arial; font-size: 120%; 
   padding: 0.2em 0.4em;
}
#cartwidget .body {
   height: 56px; vertical-align: middle;
   background: lightgray url(/pics/cart.png) no-repeat scroll 0 0;
   padding: 4px 8px 4px 80px;
}
#cartwidget .footer {
   padding: 0.2em 0.4em;
}

#addwidget { position: relative; padding: 0.5em 0em; }

.panel { background-color: #aaccee; padding: 0.2em; vertical-align: middle; height: 2em; }
.panel .title { color: white; background: none; 
   font-family: 'Trebuchet MS',Arial,Helvetica,sans-serif;
   font-size: 120%; font-weight: bold; padding: 0.1em; }
.panel .footer { position: relative; bottom: 0; height: 2em; margin-top: -2em; overflow: hidden; }

.paginator { 
}
.overflow { 
   overflow: hidden; text-overflow: ellipsis; 
   white-space: nowrap; }
.title {
   font-family: arial; font-size: 150%; 
   line-height: 1.0;
   padding: 0.2em 0.3em; margin-bottom: 0.5em;
   background-color: #fdd99b;
   border: 0px solid #fdd99b;
}

#categories { padding-bottom: 1em; }
#categories .title {
   -moz-border-radius: 0px 0.2em 0.2em 0px;
   text-align: left;  margin-right: 0.2em;
   padding-right: 1em;
}
#categories .item {
   cursor: pointer;
   font-family: verdana; font-size: 100%; width: 240px;
   line-height: 1.33; text-transform: uppercase; text-align: left;
   padding: 0.4em 1em; margin-left: 0.5em;
}
#categories .item a { color: black; }
#categories .choosen {
   background-color: #aaccee; font-weight: bold;
   border: 0px solid #aaccee; -moz-border-radius: 0.5em 0em 0em 0.5em;
}

#tagcloud { text-align: center; padding: 4px 4px 4px 8px;}
#tagcloud .title {
   -moz-border-radius: 0.2em 0px 0px 0.2em;
   text-align: right;  margin-left: 0.2em;
   padding-left: 1em;
}

#tagcloud ul { list-style-type: none; margin: 0 auto; padding: 0; }
#tagcloud li { display: inline; background-image:none !important;
   padding:0 5px; margin:0; vertical-align:baseline !important;
   border:0 !important; }

#placeholder {
   background-color: #aaccee; padding: 0.4em;
   height: auto !important; min-height: 100%;
   border: 0px solid #aaccee; -moz-border-radius: 0.5em;
}

#content {
   height: 100%; min-height: 600px; 
   padding: 0.5em 2px;
   background-color: white;
}
#content .title {
   font-size: 130%; background: none; margin-top: 0.3em;
}
#content .desc {
   padding: 0em 0.2em 0em 1em;
}
#content .text p {
   margin: 0.5em; text-indent: 1em;
}

#header h1 {
   margin: 0; width: 8em; color: #a68f00; text-align: center;
   font-family: comic sans ms; font-size: 160%; font-weight: bold;
   line-height: 1.33; text-transform: uppercase; cursor: pointer;
}

#header h2 {
   margin: 0; width: 20em; color: white; cursor: pointer;
   font-family: comic sans ms; font-size: 100%; font-weight: bold;
   line-height: 1.33; text-transform: uppercase; text-align: right;
}


#cart-widget { 
   border: 1px solid #ffeeee; -moz-border-radius: 1em; 
   margin: 0em 1em; padding: 1em; text-align: center; 
   background-color: white; }
#widget-cart a { color: black; }

#cart-list { margin: 4px; border: 1px solid gray; width: auto !important; }
#cart-list tr th { font-weight: bold; text-align: center; border-bottom: 1px solid gray; }
#cart-list tr td { padding: 2px; font-size: 100%; }
#cart-list tr[class="total"] { font-weight: bold; border-top: 1px solid gray; }
#cart-list tr[class="total"] #cart_total { color: darkblue; }

#advanced_search { font-size: 100%; padding: 4px }
#advanced_search th { width: 200px; }
#advanced_search .min_max_widget { 
   text-align: right;
   font-family: courier new;
}

#widget-jabber {
   position: absolute; top: 0px; right: 0px; z-index: 1; width: 120px; height: 1.5em; 
   color: #54026e; background-color: #bfab30; font-weight: bold; padding: 4px;
   text-align: center; vertical-align: bottom; -moz-border-radius: 0px 0px 0px 4px; 
   cursor: pointer;
}

/* Стили для всплывающего окна джаббер клиента - начало */
#jabber-client {
   height: 400px; width: 400px;
   background-color: white; border: 1px solid gray;
}
#popup .title { font-family: verdana; font-size: 120%; font-weight: bold; background: none; padding: 8px; }
#popup #chat-window {
   position: absolute; top: 3em; bottom: 3em; left: 8px; right: 8px; 
   overflow: auto; padding: 2px 4px;
   border: 1px solid gray; -moz-border-radius: 4px; 
}
#popup #message-window { position: absolute; bottom: 8px; top: auto; left: 8px; right: 8px; }
#popup #message-window input[type="text"] { width: 96%; }
/* Стили для всплывающего окна джаббер клиента - конец */

.collection-list-item {
   width: 100px; height: 130px; 
   float: left; 
   text-align: center; 
   padding: 4px; margin: 2px; 
   border: 1px solid #FFEB73; -moz-border-radius: 4px;
}

.thumbnail-containter {
   background-color: white;
   width: 100px; height: 100px;
   text-align: center;
}
.thumbnail-containter img {
   vertical-align: middle;
}

#thumbnail {
   cursor: url(/pics/viewmag+.png), pointer;
}

#zoomed {
   cursor: url(/pics/viewmag-.png), pointer;
}

#image-container {
   height: 200px; width: 200px; vertical-align: middle; text-align: center;
   cursor: pointer;
}
#item-info-widget {
    position: absolute; width: 80px; z-index: 1; display: none;
    opacity: 0.5; filter: alpha(opacity=0.5); text-align: center;
    color: black; background-color: white;
    border: 2px solid gray; -moz-border-radius: 4px; padding: 4px;
}



.popuphead { 
    position: absolute; top: 0.5em; left: 130px; width: 160px; padding: 2px 8px; z-index: 2; 
    color: #b964d4;
    background-color: #54026e; 
}

BUTTON { 
    border: 1px solid #54026e; background-color: #bfab30; color: #54026e; 
    -moz-border-radius: 4px; padding: 2px 4px; cursor: pointer; 
}

#opaco { 
    background-color: black; opacity: 0.0;
    position: absolute; top: 0px; left: 0px; width: 100%; z-index: 10;
}
#popup {
    font-size: 12px; 
    background-color: white; border: 2px solid black; -moz-border-radius: 8px; padding: 0px 1em;
    position: fixed; min-width: 300px; min-height: 400px; top: 50%; left: 50%; z-index: 11;
}

#popup h3 {
    z-index: 12; position: relative; top: 0px; left: 14px;
}
#popup h3 span {
   display: inline-block;
   width: 9px; height: 9px;
   margin-right: 1em;
   border: 1px solid #071C71;
   vertical-align: middle;
   background: #6F83D6;
}
#popup .footer {
}

.has_preview {
   border-bottom: 1px dashed #2c3d82; color: #68237f;
}

.acronym {
   border-bottom: 1px dashed #071c71; color: #54026e;
}

.warning { padding: 2px 4px; margin: 0px 0px 2em 0px;}
.warning p { margin: 1em; }

#simple_search #id_userinput { width: auto; }
#simple_search INPUT { width: 60px; margin: 0px 2px; }
#full_search INPUT { width: 60px; margin: 0px 2px; }
