INPUT,TEXTAREA,SELECT { border: 1px solid gray; -moz-border-radius: 4px; padding: 2px 4px; margin: 2px 0px;}
FORM { margin: 0em; }
TABLE { width: 100%; border-collapse: collapse; }
#customer TH { text-align: left; font-weight: normal; width: 30%; }

.title { font-size: 16px; color: black; font-weight: bold; 
   padding: 0.2em; margin-bottom: 0.5em; text-align: center;
   letter-spacing: 0px; border-bottom: 2px solid orange; }

.header { background-color: #C2C2C2; }
.caption { font-size: 16px; font-weight: bold; padding: 0.5em 1em; width: 20%; }
.search { width: 35%; }
.informer { font-size: 12px; padding: 2px; min-width: 30%; width: 30%; 
   vertical-align: bottom; }
.informer .icon { width: 32px; height: 32px; text-align: center; padding: 2px; }


.errorlist { border: 1px dashed red; padding: 2px 4px; }
.error { font-family: monospace; font-size: 10px; }

.container { width: 100%; border: 0px; background-color: white; color: black; }
.container .main { min-width: 60%; vertical-align: top; }
.container .related { vertical-align: top; padding-bottom: 1em; }

.footer { padding: 1em; background-color: #C2C2C2; width: 100%; font-size: 10px; width: 100%; }
.footer-left { text-align: left; padding: 1em; }
.footer-center {}
.footer-right { text-align: right; padding: 1em; }

.sectioncontent { padding: 0.5em 0.5em; }

.category { font-size: 14px; color: black; margin: 4px 0px;}
.subcategories { font-size: 12px; color: black; margin: 4px 2em;}
.cat-widget { font-size: 12px; margin: 0.5em 0em; }


.price { font-family: verdana; letter-spacing: 0px; }
/*
.image { width: 40%; float: left; text-align: center; }
.clear { clear: both; }
.info { margin-left: 1em; }
.desc { font-size: 12px; padding: 2px 1em; }
*/

.itemlist .itemshortinfo { margin: 2px 0px; }
.itemlist .thumbnail { width: 100px; height: 100px; text-align: center; vertical-align: middle; }
.itemlist .info { margin-left: 1em; vertical-align: top; }
.itemlist .more { font-size: 10px; }

.itemtitle { font-size: 14px; font-weight: bold; letter-spacing: 0px; }
.itemdesc { font-size: 12px; text-indent: 1em; line-height: 1.5; margin: 0.7em 0em; }

.producers { border-top: 1px solid gray; border-bottom: 1px solid gray; letter-spacing: -1px; 
}

.listitem { font-size: 12px; /* font-style: italic; */ }

.howto { font-size: 12px; /* font-style: italic; */ }

.cart { }
.cart .title { font-size: 14px; color: black; font-weight: bold; margin: 4px 0px; }
.cart TABLE { margin: 1em 4px; }
.cart TABLE TD { white-space: nowrap; }
.cart .header { border-top: 1px solid gray; border-bottom: 1px solid gray; }

.cart_widget {}
.cart_widget_title { font-size: 12px; }

.mono { font-family: monospace; }
.money { font-family: monospace; text-align: right; }
.cart .total { border-top: 1px solid gray; border-bottom: 1px solid gray; background-color: #E0E0E0; }

/* Информационный виджет */
.widget { position: absolute; top: 100px; left: 100px; z-index: 10; 
   border: 1px solid gray; -moz-border-radius: 4px; 
   font-size: 12px; background-color: white; width: 40%; }
.widget .title { background-color: #C2C2C2; padding: 2px 2em;
   color: black; font-size: 14px; font-weight: bold; }
.widget .body { padding: 4px; }
.widget #item_quantity { width: 32px; text-align: right; }

.splashwidget { position: absolute; top: 100px; left: 20px;
   font-size: 12px; padding: 1em;
   border: 1px solid red; background-color: gray; 
   opacity: 1; filter: alpha(opacity=1);
}

.wideitem { width: 95%; }
.longitem { width: 90%; white-space: nowrap; overflow: hidden; text-overflow : ellipsis; }

/* IE6 */
* html .wideitem { width: 96%; }
* html .longitem { width: 96%; white-space: nowrap; overflow: hidden; text-overflow : ellipsis; }
* html INPUT,TEXTAREA,SELECT { border: 1px solid gray; }

.paginator { border-top: 1px solid gray; border-bottom: 1px solid gray; 
   font-size: 10px; padding: 0px 1em; }
.paginator A { font-family: monospace; text-decoration: none; color: blue; }

.border { border: 1px solid black; }

.linkbar { background-color: #C2C2C2;; padding: 0.2em 1em; }
.linkbar .item { margin: 0em 0.5em; }



h3 {
    margin: 0.5em 0 0.3em 1em;
    font-size: 18px;
    font-weight: normal;
    color: #1533AD;
}
h3 span {
   display: inline-block;
   width: 9px; height: 9px;
   margin-right: 1em;
   border: 1px solid #071C71;
   vertical-align: middle;
   background: #6F83D6;
}

body {
	margin: 0; padding: 0;
	background: #e0e0e0;
	color: #333;
	font: 11px/1.5 verdana, sans-serif;
	}
.cleaner {
	clear: both;
	height: 1px; margin: 0;
	}
#main {
	position: relative;
	width: 780px;
	margin: 0 auto;
	padding: 13px 0 0 0;
	}
#topbg {
	position: absolute; top: 0; left: 0; z-index: -1;
	width: 100%; height: 143px;
	background: #ffeb73;
	}
#header {
	position: relative;
	width: 780px; height: 130px;
	background: #ffe440;
	}

/* @group Header */

#header-overlay {
	position: relative; top: -15px; left: 14px;
	width: 780px; height: 145px;
	background: url('/pics/header2.png') top right no-repeat;
	}
#header .box {
	position: absolute; top: 6px;
	width: 75px; height: 25px;
	}
#header-box-1 { left: 15px; background-color: #bfab30; }
#header-box-2 { left: 100px; background-color: #a68f00; }
#header-box-3 { left: 185px; background-color: #ffdb00; }
#header-box-4 { left: 270px; background-color: #ffeb73; }

#header h1 {
	position: absolute; top: 40px; left: 20px;
	margin: 0;
	width: 8em;
	font-family: comic sans ms;
	font-size: 300%;
	line-height: 1.33;
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
	color: #a68f00;
	}
#header h2 {
	position: absolute; top: 70px; left: 70px;
	margin: 0;
	width: 20em;
	font-family: comic sans ms;
	font-size: 100%;
	line-height: 1.33;
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
	color: white;
	}

#search {
   font-size: 100%;
   position: absolute; top: 90px; left: 20px;
   width: 16em;
}
#field_min_price { width: 80px; }
#field_max_price { width: 80px; }

/* @end */

/* @group menu */

#menu {
	margin: 0; padding: 1px 0;
	list-style-type: none;
	height: 26px;
	}
#menu li {
	float: left;
	margin: 0; padding: 0;
	width: 20%;
	}
#menu a {
	position: relative;
	display: block;
	margin: 1px;
	height: 24px;
	font-size: 10px;
	line-height: 24px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	background: #b964d4;
	color: #54026e;
	}
#menu a span {
	display: block;
	position: absolute; top: 5px; left: 8px;
	width: 8px; height: 8px;
	background: #8106a9;
	}
#menu a.sel {
	background: #54026e;
	color: #b964d4;
	}
#menu a:hover {
	background: #54026e;
	color: #b964d4;
	}
/* @end */

#content {
   padding: 1px;
   background-color: white;
}
#content a {
   padding: 2px 3px;
   color: #4965D6;
}
#content p {
	margin: 0.25em 0;
	}
#left {
	float: left;
	width: 250px;
	padding: 10px 20px;
	border-right: 1px dotted white;
	}
#left h3 {
   margin: 0.5em 0 0.3em;
   font-size: 18px;
   font-weight: normal;
   color: #1533AD;
}
#left dt {
   float: left;
   font-weight: bold;
   color: #1533AD;
}
#left dd {
	margin: 1em 0 1em 6em;
	}
#ico {
	float: left;
	padding: 5px;
   width: 43px; height: 43px;
   border: 1px solid #1533AD;
	}
#left h4 {
	margin: 0 0 0 6em;
	font-size: 100%;
	font-weight: bold;
	}
#left ul {
	margin: 0 0 0 6em; padding: 0;
	color: red;
	list-style-type: square;
	list-style-position: inside;
	}

#right {
	float: right;
	width: 440px;
	margin: 0 20px 0 0;
	padding: 10px 0;
	}
#right h3 {
	clear: left;
	margin: 0.5em 0 0.3em 0;
	font-size: 12px;
	}
#right h3 span {
   display: inline-block;
   width: 9px; height: 9px;
   margin-right: 1em;
   border: 1px solid #071C71;
   vertical-align: middle;
   background: #6F83D6;
}
#right h4 span {
   display: inline-block;
   width: 9px; height: 9px;
   margin-right: 1em;
   border: 1px solid #071C71;
   vertical-align: middle;
   background: #6F83D6;
}
#right .photo {
	float: left;
	margin: 0 15px 15px 0;
	}
#right h4 {
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	}
#right .link {
	text-align: right;
	}
#rbox {
   float: left;
   position: relative;
   width: 180px;
   margin: 15px 0 20px 0;
   padding: 2px 5px 2px 30px;
   font-size: 10px;
   line-height: 1.2;
   background-color: #6F83D6;
}
#rbox span {
   display: block;
   position: absolute; top: 5px; left: 8px;
   width: 8px; height: 8px;
   background: #1533AD      ;
}
#right button {
	float: right;
	margin: 15px 0 20px 0;
	width: 150px;
	height: 30px;
	background: gray;
	color: black;
	border: 1px solid silver;
	text-align: center;
	font-size: 14px;
	line-height: 25px;
	}

.category-current {
   display: inline-block;
   width: 9px; height: 9px;
   margin-right: 1em;
   border: 1px solid #071C71;
   vertical-align: middle;
   background: #FFDB00;
}

#chat-window {
   width: 300px; height: 300px; overflow: auto;
   border: 1px solid gray; -moz-border-radius: 4px; 
   padding: 2px 4px; margin: 2px 0px;
}

#widget-jabber {
   position: absolute; top: 0px; right: 0px; z-index: 1; width: 120px; height: 1.5em; 
   color: #54026e; background-color: #bfab30; font-weight: bold; padding: 4px;
   text-align: center; vertical-align: bottom; -moz-border-radius: 0px 0px 0px 4px; 
   cursor: pointer;
}

#jabber-client {
   height: 400px;
   width: 400px;
   background-color: white;
   border: 1px solid gray;
   padding: 4px;
}

.collection-list-item {
   width: 100px; height: 130px; 
   float: left; 
   text-align: center; 
   padding: 4px; margin: 2px; 
   border: 1px solid #FFEB73; -moz-border-radius: 4px;
}

.thumbnail-containter {
   background-color: white;
   width: 100px; height: 100px;
   text-align: center;
   cursor: pointer;
}
.thumbnail-containter img {
   vertical-align: middle;
}

#image-container {
   height: 200px; width: 200px; vertical-align: middle; text-align: center;
   cursor: pointer;
}
#item-info-widget {
    position: absolute; width: 80px; z-index: 1; display: none;
    opacity: 0.5; filter: alpha(opacity=0.5); text-align: center;
    color: black; background-color: white;
    border: 2px solid gray; -moz-border-radius: 4px; padding: 4px;
}

#footer {
	margin: 10px 0 10px 0;
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	background: #b964d4;
	border-top: 1px solid #54026e;
	border-bottom: 1px solid #54026e;
	}
#footer a {
	padding: 3px 5px;
	color: #54026e;
	}

.pointer { cursor: pointer; }
.left { text-align: left; }
.lfloat { float: left; }
.rfloat { float: right; }
.center { text-align: center; }
.right { text-align: right; }
.top { vertical-align: top; }
.middle { vertical-align: middle; }
.show { display: block; }
.hide { display: none; }
.nowrap { white-space: nowrap; }

#widget-cart {
   position: absolute; top: 70px; right: 50px; z-index: 1; width: 300px;
}
#widget-cart a {
   color: black;
}

.popuphead { 
    position: absolute; top: 0.5em; left: 130px; width: 160px; padding: 2px 8px; z-index: 2; 
    color: #b964d4;
    background-color: #54026e; 
}

BUTTON { 
    border: 1px solid #54026e; background-color: #bfab30; color: #54026e; 
    -moz-border-radius: 4px; padding: 2px 4px; cursor: pointer; 
}

#opaco { 
    background-color: black; opacity: 0.0;
    position: absolute; top: 0px; left: 0px; width: 100%; z-index: 10;
}
#popup {
    font-size: 12px; 
    background-color: white; border: 2px solid black; -moz-border-radius: 8px; padding: 0px 1em;
    position: fixed; min-width: 300px; min-height: 400px; top: 50%; left: 50%; z-index: 11;
}

#popup h3 {
    z-index: 12; position: relative; top: 0px; left: 14px;
}
#popup h3 span {
   display: inline-block;
   width: 9px; height: 9px;
   margin-right: 1em;
   border: 1px solid #071C71;
   vertical-align: middle;
   background: #6F83D6;
}
#popup .footer {
}

.has_preview {
   border-bottom: 1px dashed #2c3d82; color: #68237f;
}

.acronym {
   border-bottom: 1px dashed #071c71; color: #54026e;
}

.warning { border: 2px solid #ffdb00; background-color: #ffeb73; -moz-border-radius: 8px; padding: 2px 4px; margin: 0px 0px 2em 0px;}
