import os, sys
sys.path.append('/home/rad/engine/django/')
sys.path.append('/home/rad/django/')
os.environ['DJANGO_SETTINGS_MODULE'] = 'cargo.settings'
import django.core.handlers.wsgi
application = django.core.handlers.wsgi.WSGIHandler()
