{% extends 'base.html' %}
{% load i18n %}
{% load auth_openid_extras %}

{% block content %}
<h2>Управление OpenID аккаунтами</h2>
<p>Вы можете привязать к своему аккаунту на сайте столько OpenID аккаунтов, сколько вам будет удобно. Учтите, что если вы зарегистрировались на сайте через OpenID, вы не можете удалить все OpenID аккаунты до тех пор, пока вы не {#<a href="{% url account.views.new_password %}">#}введёте пароль{#</a>#} для авторизации по логину/паролю.</p>
{% if openids %}
<table>
    {% for openid in openids %}
    <tr>
        <td>{{ openid.url }}</td>
        <td>
            <a href="{% url auth_openid.views.delete openid.url %}" onclick="return confirm('Вы уверены, что хотите удалить OpenID акканут {{ url }}?');">Удалить</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>К вашему аккаунту не привязан ни один OpenID аккаунт</p>
{% endif %}

{% openid_login_form "Привязать ещё один OpenID аккаунт" %}

{% endblock %}
