<div style="padding: 0.5em;" class="topic">
  <table width="100%" border="0">
    <tr>
      <td>
	<a href="/djangobook/">
	  <img src="http://cargo/djangobook/pics/djangobook-title.png" border="0"/>
	</a>
      </td>
      <td style="color: #326342;">
	<form action="http://cargo.caml.ru/search/" id="cse-search-box">
	  <div>
	    <input type="hidden" name="cx" value="partner-pub-2091160070233929:lcmx636actw" />
	    <input type="hidden" name="cof" value="FORID:11" />
	    <input type="hidden" name="ie" value="UTF-8" />
	    <input type="text" class="field" name="q" size="60" />
	    <input type="submit" class="searchbutton" name="sa" value="&#x041f;&#x043e;&#x0438;&#x0441;&#x043a;" />
	  </div>
	</form>
	
	<script type="text/javascript" src="http://www.google.ru/coop/cse/brand?form=cse-search-box&amp;lang=ru"></script> 
	{% comment %}
	<form name="web" method="get" action="http://www.yandex.ru/yandsearch">
	  <span>Поиск по сайту:</span>
	  <input type="text" name="text" size="40" value="" maxlength="160" class="field"/>
	  <input type="submit" value="Найти" class="searchbutton"/>
	  <input type="hidden" name="serverurl" value="http://cargo.caml.ru/djangobook/" />
	  <input type="hidden" name="server_name" value="DjangoBook по-русски" />
	  
	  <input type="hidden" name="referrer1" value="http://cargo.caml.ru/djangobook/"/>
	  <input type="hidden" name="referrer2" value="DjangoBook по-русски"/>
	</form>
	  
	<div class="searchexamples">
	  <b>Примеры запросов:</b>
	  <font size="-1">
	    <span class="item">render_to_response</span> |
	    <span class="item">context_instance</span> |
	    <span class="item">что это такое</span>
	  </font>
	</div>
	{% endcomment %}
      </td>
    </tr>
  </table>
{% if not debug %}
  <div style="text-align: center;">
    <script type="text/javascript">
      <!--
	  google_ad_client = "pub-2091160070233929";
	  /* 728x15, создано 18.03.09 */
	  google_ad_slot = "9310198192";
	  google_ad_width = 728;
	  google_ad_height = 15;
	  //-->
    </script>
    <script type="text/javascript"
	    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div>
{% endif %}
</div>
