{% extends "djangobook/base.html" %}
{% load markup %}
{% load webdesign %}

{% block structure %}
<body onLoad="init(); spelling.init();">

{% include "djangobook/inc-header.html" %}
{% include "djangobook/inc-search.html" %}

<table width="100%" border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td width="25%" valign="top">
      {# левая колонка #}
      {% include "djangobook/inc-archive.html" %}
    </td>
    <td width="*" valign="top" class="content">
      {% include "djangobook/inc-google.html" %}
      <hr/>
      <div style="font-family: sans-serif; font-size: 16px; font-style: italic; font-weight: bold;">{{ news_curr.title }}</div>
      <div style="padding-left: 1em;">{{ news_curr.text|markdown }}</div>
      <hr/>
      {% include "djangobook/inc-google.html" %}
    </td>
    <td width="116" valign="top">
      {# правая колонка #}
      {% include "djangobook/inc-adds.html"%}
    </td>
  </tr>
</table>

{% include "djangobook/inc-footer.html" %}
</body>
{% endblock %}
