<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>{{ page_title }}</title>
  <link rel="stylesheet" href="http://moiluchru/css/shop.css" type="text/css"/>
  <link rel="shortcut icon" href="http://moiluchru/pics/favicon.png"/>
  <script type="text/javascript" src="http://moiluchru/js/jquery.js"></script>
  <script type="text/javascript" src="http://moiluchru/js/shop.js"></script>
</head>

<body>
  {% if jabber %}
  <div id="widget-jabber" onclick="jabber_init();">
    <img src="/pics/jabber-protocol.png" align="left"/> Консультация
  </div>
  {% endif %}
  <div id="opaco" class="hide"></div> {# элемент для затемнения экрана #}
  <div id="popup" class="hide"></div> {# элемент для всплывающих окон #}
  
  <div id="topbg"></div>
  
  <div id="main">
    
    <div id="header">
      <div id="header-overlay"></div>
      <div id="header-box-1" class="box bg-pri-1"></div>
      <div id="header-box-2" class="box bg-pri-2"></div>
      <div id="header-box-3" class="box bg-pri-3"></div>
      <div id="header-box-4" class="box bg-pri-4"></div>
      <div id="search">
	<form method="post" action="/result/">
	  <table cellspacing="4" cellpadding="2">
	    <tr>
	      <td class="middle nowrap">Быстрый поиск</td>
	      {% for field in form %}
	      <td class="middle">{{ field }}</td>
	      {% endfor %}
	      <td class="middle"><input type="submit" name="go" value="Найти"/></td>
	    </tr>
	  </table>
	</form>
      </div>
      <h1>{{ site_title }}</h1>
      <h2>{{ site_subtitle }}</h2>
      <div id="widget-cart">
	<table>
	  <tr>
	    <td width="48" style="padding-left: 10px;">
	      <img src="http://moiluchru/pics/cart.png" class="icon" title="Корзина" align="left"
		   {% if not cart_show %}class="pointer" onclick="document.location='/shop/cart/';"{% endif %}/>
	    </td>
	    <td class="left cart_widget">
	      <div class="cart_widget_title">{% if not cart_show %}<a href="/cart/">{% endif%}Корзина{% if not cart_show %}</a>{% endif%}</div>
	      <div>
		<div>Цена: <span id="cart_price" class="price">{{ cart_price|floatformat:2 }}</span> руб</div>
		<div>Кол-во: <span id="cart_count" class="price">{{ cart_count }}</span></div>
	      </div>
	    </td>
	    {% if not cart_show %}
	    <td class="center">
	      <span id="clean_button" class="{% ifequal cart_count 0 %}hide{% else %}show{% endifequal %}">
		<button onclick="clean_cart(); return false;" style="cursor: pointer;">Очистить</button>
	      </span>
	    </td>
	    {% endif %}
	  </tr>
	</table>
      </div>
    </div>
    
    <ul id="menu">
      {% for m in menu %}
      <li><a {% ifequal menu_current m.0 %}class="sel" {% endifequal %}href="{{ m.1 }}"><span></span>{{ m.2 }}</a></li>
      {% endfor %}
    </ul>
    
    <div id="content">
      {% block content %}{% endblock %}

      <div class="cleaner"></div>
    
      <div id="footer">
	{% for m in menu %}
	  {% ifequal menu_current m.0 %}{{ m.2 }}{% else %}<a href="{{ m.1 }}">{{ m.2 }}</a>{% endifequal %}
	  {% if not forloop.last %}|{% endif %}
	{% endfor %}
      </div>
    </div>

  </div>
  
  {# jabber client - begin #}
  <div id="jabber-client" class="hide">
    <h3 class="ttl"><span></span>Онлайн консультация</h3>
    <div id="chat-window">
      <div id="down"></div>
    </div>
    <div>
      <input type="text" id="message-window" style="width: 100%;" maxlength="1024" value=""/>
    </div>
    <div class="right">
      {% comment %}
      <button onclick="jabber_message($('#message-window')); return false;">Отправить</button>
      {% endcomment %}
      <button onclick="jabber_destroy();">Закрыть</button>
    </div>
    <img src="/pics/loading.gif" id="loading" style="position: fixed; z-index: 2;" class="hide"/>
  </div>
  {# jabber client - end #}

</body>
{% if not debug %}{{ google_analytics|safe }}{% endif %}
</html>
