{% extends "shop/base.html" %}

{% block container %}
{% include "shop/inc-linkbar.html" %}
<table class="container" cellpadding="0" cellspacing="0">
  <tr>
    <td class="content" width="40%" valign="top">
      {% block content %}{% endblock %}
    </td>

    <td class="content" width="30%" valign="top">
      {% include "shop/inc-howtos.html" %}
      {% include "shop/inc-producers.html" %}
      {% include "shop/inc-category.html" %}
    </td>
  </tr>
</table>
{% include "shop/inc-linkbar.html" %}
{% endblock %}
