<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>{{ page_title }}</title>
  <link rel="stylesheet" href="http://moiluchru/css/shop.css" type="text/css"/>
  <link rel="shortcut icon" href="http://moiluchru/pics/favicon.png"/>
  <script type="text/javascript" src="http://moiluchru/js/jquery.js"></script>
  <script type="text/javascript" src="http://moiluchru/js/shop.js"></script>
</head>

{% load thumbnail_filter %}

<body>
  <div id="opaco" class="hide"></div> {# элемент для затемнения экрана #}
  <div id="popup" class="hide"></div> {# элемент для всплывающих окон #}
  
  {% if jabber %}
  <div id="widget-jabber" onclick="jabber_init();">
    <img src="/pics/jabber-protocol.png" align="left"/> Онлайн чат
  </div>
  {% endif %}

  <div id="ie6" class="hide">
    <div class="title">Обновите браузер</div>
    <div class="desc" style="width: 300px;">
      <p>
	Для полноценного использования данного сайта и множества
	других, рекомендуем Вам обновить Ваш браузер. Хорошим
	вариантом будет использование:
      </p>
      <ul>
	<li><a href="http://www.mozilla.com/">Firefox 3+</a>;</li>
	<li><a href="http://www.opera.com/">Opera 9.64+</a>;</li>
	<li><a href="http://www.microsoft.com/">Internet Explorer 7+</a>.</li>
      </ul>
      <p>
	Вы можете продолжить использование Вашего текущего браузера,
	нажав на клавишу [Esc], но в таком случае мы не можем
	гарантировать правильного функционирования всех компонентов
	нашего сайта.
      </p>
      <p>
	В любом случае, выбор за Вами!
      </p>
      <p style="text-align: right; font-style: italic;">
	Команда <a href="http://moiluch.ru/">moiluch.ru</a>
      </p>
    </div>
  </div>
  
  <div id="advicebot">
    <div>Совет</div>
    <div id="advicetext" class="hide">
      <div class="title">Обновите браузер</div>
      <div class="desc">
	Для полноценного использования данного сайта и множества
	других, рекомендуем Вам обновить Ваш браузер. Хорошим
	вариантом будет использование <a
	href="http://www.mozilla.com/">Firefox 3</a>.
      </div>
    </div>
  </div>

  <div id="topbg"></div>
  
  <div id="main">
    
    <div id="header">
      {% comment %}
      <div id="icqinfo" style="position: absolute; top: 10px; right: 140px; z-index: 1;"><img src="/pics/icq.gif" align="left"/> <a href="http://go.icq.com/" title="Запустить онлайн клиент с icq.com">563-533-804</a></div>
      {% endcomment %}
      <div id="header-overlay"></div>
      <div id="header-box-1" class="box bg-pri-1"></div>
      <div id="header-box-2" class="box bg-pri-2"></div>
      <div id="header-box-3" class="box bg-pri-3"></div>
      <div id="header-box-4" class="box bg-pri-4"></div>
      <div id="search">
	<form method="post" action="/result/">
	  <table cellspacing="4" cellpadding="2">
	    <tr>
	      <td class="middle nowrap">Быстрый поиск</td>
	      {% for field in form %}
	      <td class="middle">{{ field }}</td>
	      {% endfor %}
	      <td class="middle"><input type="submit" name="go" value="Найти"/></td>
	    </tr>
	  </table>
	</form>
      </div>
      <h1>{{ site_title }}</h1>
      <h2>{{ site_subtitle }}</h2>
      <div id="widget-cart">
	<table>
	  <tr>
	    <td width="48" style="padding-left: 10px;">
	      <img src="http://moiluchru/pics/cart.png" class="icon" title="Корзина" align="left"
		   {% if not cart_show %}class="pointer" onclick="document.location='/shop/cart/';"{% endif %}/>
	    </td>
	    <td class="left cart_widget">
	      <div class="cart_widget_title">{% if not cart_show %}<a href="/cart/">{% endif%}Корзина{% if not cart_show %}</a>{% endif%}</div>
	      <div>
		<div>Цена: <span id="cart_price" class="price">{{ cart_price|floatformat:2 }}</span> руб</div>
		<div>Кол-во: <span id="cart_count" class="price">{{ cart_count }}</span></div>
	      </div>
	    </td>
	    {% if not cart_show %}
	    <td class="center">
	      <span id="clean_button" class="{% ifequal cart_count 0 %}hide{% else %}show{% endifequal %}">
		<button onclick="clean_cart(); return false;" style="cursor: pointer;">Очистить</button>
	      </span>
	    </td>
	    {% endif %}
	  </tr>
	</table>
      </div>
    </div>
    
    <ul id="menu">
      {% for m in menu %}
      <li><a {% ifequal menu_current m.0 %}class="sel" {% endifequal %}href="{{ m.1 }}"><span></span>{{ m.2 }}</a></li>
      {% endfor %}
    </ul>
    
    <div id="content">
      {% block content %}{% endblock %}

      <div class="cleaner"></div>
    
      <div id="footer">
	<table width="100%">
	  <tr>
	    <td>Powered by <a href="http://djangoproject.com/">Django</a></td>
	    <td width="50%">
	      {% for m in menu %}
	      {% ifequal menu_current m.0 %}{{ m.2 }}{% else %}<a href="{{ m.1 }}">{{ m.2 }}</a>{% endifequal %}
	      {% if not forloop.last %}|{% endif %}
	      {% endfor %}
	    </td>
	    <td>
	      <a href="mailto:info@moiluch.ru">@ Информация</a>
	      <a href="mailto:support@moiluch.ru">@ Поддержка</a>
	    </td>
	  </tr>
	</table>
      </div>

    </div>

  </div>
  
  {# jabber client - begin #}
  <div id="jabber-client" class="hide">
    <div style="width: 300px;">
      <h3 class="ttl"><span></span>Онлайн консультация</h3>
      <div id="chat-window">
	<div style="padding: 4px; border: 1px solid orange; -moz-border-radius: 4px; background-color: #ffffaa;">
	  Для отправки набранного сообщения просто нажмите [Enter].
	</div>
	<div id="down"></div>
      </div>
      <div>
	<input type="text" id="message-window" style="width: 100%;" maxlength="1024" value=""/>
      </div>
      <div class="right">
	{% comment %}
	<button type="button" onclick="jabber_message($('#message-window')); return false;">Отправить</button>
	{% endcomment %}
	<button type="button" onclick="jabber_destroy();">Закрыть</button>
      </div>
      <img src="/pics/loading.gif" id="loading" style="position: fixed; z-index: 2;" class="hide"/>
    </div>
  </div>
  {# jabber client - end #}

</body>
{% if not debug %}{{ google_analytics|safe }}{% endif %}
</html>
