{% extends "shop/base.html" %}
{% load thumbnail_filter %}

{% block content %}
<script>
  function cart_remove_item(item_id) {
      thumbnail = $('#th_' + item_id)
      $('<img id="loading" class="hide" src="/pics/loading.gif" title="Ожидайте..." border="0"/>')
      .insertAfter(thumbnail).css({'position': 'relative', 'top': '-'+thumbnail.height()/2+'px'})
      .toggleClass('hide');

      $.post('/ajax/cart/remove/', { item: item_id },
 	     function(json) {
		 if (json['code'] == 200) {
		     // обновить корзину
		     update_cart(json['cart_count'], json['cart_price']);
		     // обновить общую сумму
		     $('#cart_total').html(json['cart_price']);
		     // удалить строку с товаром с интерфейса
		     $('tr[item=' + item_id + ']').remove();
		 } else {
		     alert(json['code'] + ': ' + json['desc']);
		 }
	     }, 'json');
  }
  function cart_recalculate() {
      items = {}
      $('tr[item]').each( 
	  function(el) {
	      items[$(this).attr('item')] = $('input', $(this)).attr('value');
	  });
      $.post('/ajax/cart/recalculate/', { items: JSON.stringify(items) },
 	     function(json) {
		 if (json['code'] == 200) {
		     // обновить корзину
		     update_cart(json['cart_count'], json['cart_price']);
		     // обновить общую сумму
		     $('#cart_total').html(json['cart_price']);
		 } else {
		     alert(json['code'] + ': ' + json['desc']);
		 }
	     }, 'json');
  }
</script>

<h3><span></span>Корзина</h3>

<table id="cart-list" width="100%" class="cart" cellpadding="4">
  <tr class="header">
    <th width="100" class="left">Товар</td>
    <th width="30%" class="left">Наименование</td>
    <th width="20%" class="center">Цена</td>
    <th width="20%" class="center">Кол-во</td>
    <th width="20%" class="center">Стоимость</td>
    <th width="50"></td>
  </tr>
  
  {% for i in cart_items %}
  <tr>
    <td width="100" class="thumbnail-containter">
      <a href="{{ i.get_absolute_url }}">
	<img id="th_{{ i.record.id }}" src="{{ i.record.image.path|thumbnail:"100x,itempics" }}" 
             border="0" title="{{ i.record.title }}"/>
      </a>
    </td>
    <td class="longitem" title="{{ i.title }}">
      <div>{{ i.record.title }}</div>
      <div>Категория: {{ i.record.category }}</div>
    </td>
    <td class="right nowrap"><span class="money">{{ i.price|floatformat:2 }}</span> руб</td>
    <td class="center mono">
      <input type="text" name="count_{{ i.record.id }}"
	     onchange="cart_recalculate(this);" item="{{ i.record.id }}"
	     value="{{ i.count }}" style="width: 30px; text-align: right;"/>
    </td>
    <td class="right nowrap"><span class="money">{{ i.cost|floatformat:2 }}</span> руб.</td>
    <td class="right"><button class="pointer" onclick="cart_remove_item({{ i.record.id }});">Удалить</button></td>
  </tr>
  {% endfor %}
  
  <tr class="total">
    <td colspan="5">Итого</td>
    <td class="right nowrap"><span id="cart_total" class="money">{{ cart_price|floatformat:2 }}</span> руб.</td>
  </tr>
</table>

{% if cart %}
<div class="right">
  <button onclick="cart_recalculate();" >Пересчитать</button>
  <span style="margin:0px 2em;">&nbsp;</span>
  <button id="offer_apply" onclick="document.location='/offer/';">Оформить заказ</button>
  <button id="offer_cancel" 
	  onclick="clean_cart('/shop/'); $('offer_apply').disabled=$('offer_cancel').disabled=true; document.location='/';">Отменить заказ</button>
</div>
{% endif %}
{% endblock %}
