{% if top_cats %}
<div><span class="title">Категории товаров</span></div>
<div class="sectioncontent">
  <div class="category"><a href="/shop">Главная</a></div>
  {% for category in top_cats %}
  <div class="category">
    <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
    <div class="subcategories">
      {% for subcat in category.category_set.all %}
      <span class="subcategory">
	<a href="{{ subcat.get_absolute_url }}">{{ subcat.title }}</a>{% if not forloop.last %}, {% endif %}
      </span>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
