{% load thumbnail_filter %}

{% include "shop/inc-paginator.html" %}  

<div class="sectioncontent">
  <div class="itemlist">
    <table>
      {% for item in items %}
      <tr>
	<td class="thumbnail" style="cursor: pointer;" onclick="$('#cartadd_{{ item.id }}').toggleZoom(); return false;">
	  <img src="{{ item.image.path|thumbnail:"100x,itempics" }}" border="0" title="{{ item.title }}: Нажмите, чтобы увеличить"/>
	</td>
	<td align="left">
	  <div style="font-size: 130%;">Артикул: {{ item.title }}</div>
	  <div>
	    Категория товара:
	    <a href="{{ item.category.get_absolute_url }}" style="white-space: nowrap;"
	       title="Просмотреть товары этой категории">{{ item.category.title }}</a>
	  </div>
	  <div>Есть в наличии: <span>{% ifequal item.is_present 1 %}Да{% else %}Нет{% endifequal %}</span ></div>
	  {% if item.collection %}
	  <div>
	    <a href="{{ item.collection.get_absolute_url }}" title="Перейти к товарам коллекции">Входит в состав коллекции</a>
	  </div>
	  {% endif %}
	  <div>Цвет: <span>{{ item.color }}</span></div>
	  <div style="font-weight: bold;">Цена: <span>{{ item.get_price.1|floatformat:2 }}</span> руб.</div>
	  <a href="{{ item.get_absolute_url }}" title="Перейти на страницу товара">Описание...</a>

	  {% include "shop/inc-w-cart-add.html" %}
	</td>
      </tr>
      {% empty %}
      <tr>
	<td>
	  <div style="margin:2em; text-align: center;">
	    <p>
	      Ничего не найдено
	    </p>
	    <p>
	      Попробуйте изменить параметры поискового запроса.
	    </p>
	  </div>
	</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
  
{% include "shop/inc-paginator.html" %}  
