{% load thumbnail_filter %}

<div id="cartadd_{{ item.id }}" class="hide">
  <h3 class="ttl"><span></span>{{ item.title }}</h3>

  <div style="position: absolute; top: 0px; right: 0px; width: 180px; height: 4em; 
	      text-align: left; vertical-align: bottom; padding-left: 0.5em;
	      border-bottom: 2px solid #FFDB00; border-left: 2px solid #FFDB00;
	      background-color: #FFEB73; opacity: 0.8;
	      -moz-border-radius: 0px 8px 0px 4px;">
    <div style="color: #2c3d82;">Цена:</div>
    <div style="text-align: right;">
      <span style="font-size: 200%; font-weight: bold; color: #071c71;">{{ item.get_price.1|floatformat:2 }}</span>
      <span style="color: #2c3d82;">руб.</span>
    </div>
  </div>

  <table width="400" height="400" class="pointer" 
       onclick="$(this).toggleZoom(); return false;">
    <tr>
      <td align="center" valign="middle">
	<img src="{{ item.image.path|thumbnail:"400x,itempics" }}" title="{{ item.title }}" 
	     border="0" style="vertical-align: middle;"/>
      </td>
    </tr>
  </table>

  <div style="text-align: right;">
    <img id="loading" class="hide" src="/pics/loading.gif" title="Ожидайте..." border="0"/>
    Количество
    <input type="text" id="quantity_{{ item.id }}" value="1" maxlength="2" title="Количество" style="width: 30px; text-align: right;"/>
    <button onclick="buy({{ item.id }}, $('#quantity_{{ item.id }}').val()); return false;">Добавить в корзину</button>
  </div>
  <div class="center">Нажмите на изображение, чтобы закрыть просмотр.</div>
</div>
