{% if page %}
<div class="paginator">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="left">
	{% if page.has_previous %}
	<span title="Предыдущая страница"><a href="{{ url }}{{ page.previous_page_number }}/">&lt;&lt;&lt;</a></span>
	{% endif %}
	{% for page_number in page_range %}
	{% ifnotequal page_number page.number %}
	<span><a href="{{ url }}{{ page_number }}/">{{ page_number }}</a></span>{% if not forloop.last %}, {% endif %}
	{% else %}
	<span>{{ page_number }}</span>{% if not forloop.last %}, {% endif %}
	{% endifnotequal %}
	{% endfor %}
	{% if page.has_next %}
	<span title="Следующая страница"><a href="{{ url }}{{ page.next_page_number }}/">&gt;&gt;&gt;</a></span>
	{% endif %}
      </td>
      <td>&nbsp;</td>
      <td align="right">
	<span title="Сортировка" class="pointer" onclick="document.location='/shop/sort/1/';">Популярность
	  {% ifequal sort_type 1 %}<img src="http://moiluchru/pics/sort-down.png"/>{% endifequal %}
	  {% ifequal sort_type 2 %}<img src="http://moiluchru/pics/sort-up.png"/>{% endifequal %}
	</span>
	<span style="margin: 0px 1em;">&nbsp;</span>
	<span title="Сортировка" class="pointer" onclick="document.location='/shop/sort/2/';">Цена
	  {% ifequal sort_type 3 %}<img src="http://moiluchru/pics/sort-down.png"/>{% endifequal %}
	  {% ifequal sort_type 4 %}<img src="http://moiluchru/pics/sort-up.png"/>{% endifequal %}
	</span>
      </td>
    </tr>
  </table>
</div>
{% endif %}
