{% extends "shop/base.html" %}

{% block content %}

<h3 class="ttl"><span></span>{{ title }}</h3>

{% include "shop/inc-catwidget.html" %}
{% include "shop/inc-paginator.html" %}
<table width="100%">
  <tr>
    {% for column in column_list %}
      <td valign="top">
        {% for item in column %}
          {% include "shop/inc-column-items-wide.html" %}
        {% empty %}
          К сожалению база товаров на данный момент пуста.
        {% endfor %}
      </td>
      {% if not forloop.last %}
        <td width="8em">&nbsp;</td>
      {% endif %}
    {% endfor %}
  </tr>
</table>
{% include "shop/inc-paginator.html" %}  
{% include "shop/inc-catwidget.html" %}
{% endblock %}
