{% extends "shop/base2.html" %}

{% load thumbnail_filter %}
{% load markup %}

{% block content %}
<div class="item">

  <div><span class="title">{{ item.title }}</span></div>
  {% include "shop/inc-catwidget.html" %}
  
  <br/>
  
  <table>
    <tr>
      <td class="top">
	<div>
	  <div style="position: absolute; left: 160px; top: 140px; z-index: 100; 
		      opacity: 0.3; filter: alpha(opacity=0.3);
		      color: black; background-color: white;
		      border: 2px solid gray; -moz-border-radius: 4px; padding: 4px;">
	    <div style="font-size: 140%;">{{ addons.socle }}</div>
	    <div style="font-size: 80%;">{{ addons.count }} x {{ addons.watt }} Вт</div>
	  </div>
	  <img src="{{ item.image.path|thumbnail:"200x,itempics" }}" 
	    border="0" title="{{ item.title }}" />
	  </div>
      </td>
      <td class="top">
	<div id="add_widget" class="pointer" style="padding: 0.5em 0px;" 
	     onclick="show_form({{ item.id }}, '{{ item.title }}'); return false;">
	  <img src="http://cargo/pics/add.png" title="Добавить в корзину" width="32" height="32"/>
	  <u>Добавить в корзину</u>
	</div>
	<div>Цена: <span class="price">{{ item.get_price.1|floatformat:2 }}</span> рублей.</div>
	<div>В наличии: {% ifequal item.is_present 1 %}Да{% else %}Нет{% endifequal %}</div>
	<br/>
	{% if addons.diameter %}<div>Диаметр: {{ addons.diameter }} мм.</div>{% endif %}
	{% if addons.height %}<div>Высота: {{ addons.height }} мм.</div>{% endif %}
	{% if addons.length %}<div>Длина: {{ addons.length }} мм.</div>{% endif %}
	{% if addons.width %}<div>Ширина: {{ addons.width }} мм.</div>{% endif %}
	{% if addons.brow %}<div>Выступ: {{ addons.brow }} мм.</div>{% endif %}
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<div class="itemtitle">Описание:</div>
	<div class="itemdesc">{{ item.desc|markdown }}</div>
      </td>
    </tr>
  </table>

  {% include "shop/widget-addtocart.html" %}
    
</div>
{% endblock %}
