{% extends "shop/base.html" %}

{% load thumbnail_filter %}
{% load markup %}

{% block content %}
  <div id="left">
    <h3 class="ttl"><span></span>Категории</h3>

    {% include "shop/inc-category.html" %}
  </div>

  <div id="right">
    <h3 class="ttl"><span></span>{{ item.title }}</h3>

    {% include "shop/inc-catwidget.html" %}
  
    <table width="100%">
      <tr>
	<td width="200">
	  {# Виджет с информацией о лампах #}
	  <div id="item-info-widget">
	    <div style="font-size: 140%;">{{ addons.socle }}</div>
	    <div style="font-size: 80%;">{{ addons.count }} x {{ addons.watt }} Вт</div>
	  </div>
	  <div id="image-container">
	    {# Изображение товара #}
	    <img src="{{ item.image.path|thumbnail:"200x,itempics" }}" 
		 id="thumbnail" border="0" title="{{ item.title }}" />
	  </div>
	</td>
	
	<td>
	  <div id="add_widget" class="pointer" style="padding: 0.5em 0px;" 
	       onclick="show_form({{ item.id }}, '{{ item.title }}'); return false;">
	    <img src="http://moiluchru/pics/add.png" title="Добавить в корзину" width="32" height="32"/>
	    <u>Добавить в корзину</u>
	  </div>
	  <div>Цена: <span class="price">{{ item.get_price.1|floatformat:2 }}</span> рублей.</div>
	  <div>Есть в наличии: <span>{% ifequal item.is_present 1 %}Да{% else %}Нет{% endifequal %}</span ></div>
	  <div>Цвет: <span>{{ item.color }}</span></div>
	  <div>В наличии: {% ifequal item.is_present 1 %}Да{% else %}Нет{% endifequal %}</div>
	  <br/>
	  Требует лампы:
	  {% for l in lamp %}
	  <div>
	    <span style="font-size: 140%;">{{ l.socle }}</span>
	    <span style="font-size: 80%;">{{ l.count }} x {{ l.watt }} Вт</span>
	  </div>
	  {% endfor %}
	  <br/>
	  <div>
	    {% if addons.diameter %}<div>Диаметр: {{ addons.diameter }} мм.</div>{% endif %}
	    {% if addons.height %}<div>Высота: {{ addons.height }} мм.</div>{% endif %}
	    {% if addons.length %}<div>Длина: {{ addons.length }} мм.</div>{% endif %}
	    {% if addons.width %}<div>Ширина: {{ addons.width }} мм.</div>{% endif %}
	    {% if addons.brow %}<div>Выступ: {{ addons.brow }} мм.</div>{% endif %}
	  </div>
	</td>
      </tr>
    </table>

    <div>
      <div class="itemtitle">Описание:</div>
      <div class="itemdesc">{{ item.desc|markdown }}</div>
    </div>

  {% include "shop/widget-addtocart.html" %}
    
  </div>
{% endblock %}
