{% extends "shop/base.html" %}

{% load thumbnail_filter %}
{% load markup %}

{% block content %}
  <div id="left">
    <h3 class="ttl"><span></span>Категории</h3>

    {% include "shop/inc-category.html" %}

    <h3 class="ttl"><span></span>Облако поиска</h3>

    {% include "shop/inc-tagcloud.html" %}
  </div>

  <div id="right">
    <h3 class="ttl"><span></span>{{ item.title }}</h3>

    <table width="100%">
      <tr>
	<td width="200" valign="middle" id="image-container"
	       onclick="$('#cartadd_{{ item.id }}').toggleZoom(); return false;">
	    {# Изображение товара #}
	    <img src="{{ item.image.path|thumbnail:"200x,itempics" }}" 
		 id="thumbnail" border="0"
		 title="{{ item.title }} : Нажмите, чтобы увеличить" />
	</td>
	
	<td valign="top">
	  <div id="add_widget" class="pointer" style="padding: 0.5em 0px;" 
	       onclick="$('#cartadd_{{ item.id }}').toggleZoom(); return false;">
	    <img src="http://moiluchru/pics/add.png" title="Добавить в корзину" width="32" height="32"/>
	    <u>Добавить в корзину</u>
	  </div>
	  <div style="position: relative; top: -55px; left: 40px; line-height: 1.4em;">
	    <div style="color: #2c3d82;">Цена:</div>
	    <span style="font-size: 200%; font-weight: bold; color: #071c71;">{{ item.get_price.1|floatformat:2 }}</span>
	    <span style="color: #2c3d82;">руб.</span>
	  </div>
	  <div>Есть в наличии: <span>{% ifequal item.is_present 1 %}Да{% else %}Нет{% endifequal %}</span ></div>
	  <div>Цвет: <span>{{ item.color }}</span></div>
	</td>
      </tr>
    </table>

    <table width="100%">
      <tr>
	<td valign="top">
	  <h4 class="ttl"><span></span>Лампочки</h4>
	  {% for l in lamp %}
	  <div>
	    <span style="font-size: 150%; font-weight: bold;">{{ l.socle }}</span>
	    <span style="font-size: 80%;">{{ l.count }} x {{ l.watt }} Вт</span>
	  </div>
	  {% endfor %}
	  <div>{% ifequal item.has_lamp 1 %}Лампочки идут в поставке{% else %}Лампочек в поставке нет{% endifequal %}.</div>
	</td>
	<td valign="top">
	  <h4 class="ttl"><span></span>Характеристики</h4>
	  <div>
	    {% if addons.diameter %}<div>Диаметр: {{ addons.diameter }} мм.</div>{% endif %}
	    {% if addons.height %}<div>Высота: {{ addons.height }} мм.</div>{% endif %}
	    {% if addons.length %}<div>Длина: {{ addons.length }} мм.</div>{% endif %}
	    {% if addons.width %}<div>Ширина: {{ addons.width }} мм.</div>{% endif %}
	    {% if addons.brow %}<div>Выступ: {{ addons.brow }} мм.</div>{% endif %}
	  </div>
	</td>
      </tr>
    </table>

    {% if item.desc %}
    <div>
      <h3 class="ttl"><span></span>Описание</h3>
      <div class="itemdesc">{{ item.desc|markdown }}</div>
    </div>
    {% endif %}

    {# Отображение остальных элементов коллекции #}
    {% if collection %}
    <div>
      <h3 class="ttl"><span></span>Коллекция</h3>
      <div>
      {% for i in collection %}
      <span class="collection-list-item">
	<a href="{{ i.get_absolute_url }}" title="Нажмите для просмотра товара">{{ i.title }}</a>
	<br/>
	<a href="{{ i.get_absolute_url }}" title="Нажмите для просмотра товара">
	  <img src="{{ i.image.path|thumbnail:"100x,itempics" }}" border="0"/>
	</a>
      </span>
      {% endfor %}
      </div>
    </div>
    {% endif %}

    {% include "shop/inc-w-cart-add.html" %}

  </div>
{% endblock %}
