{% extends "shop/base.html" %}
{% load thumbnail_filter %}

{% block content %}
  <div id="left">
    <h3 class="ttl">Свет в доме</h3>
    <p>
      Современный человек не мыслит своё существование без
      освещения. За более чем 150-летнюю историю электрического
      освещения было создано множество устройств для использования
      света. На нашем сайте Вы сможете ознакомиться с современными
      светильниками и выбрать понравившеся для всех комнат вашего дома
      и дачи.
    </p>

    <p>
      Вашему вниманию представлен широчайший ассортимент люстр, бра,
      торшеров, спотов и других видов светильников.
    </p>

    <p>
      Цветовая гамма и разновидность моделей настолько разнообразны,
      что каждый сможет найти интересующую его модель для любого
      помещения, будь то ванная комната, кухня или дача.
    </p>

    <p>
      На нашем сайте Вы сможете найти модели следующих категорий:
      {% include "shop/inc-category.html" %}
    </p>

    <dl>
      <dt class="ttl">Связь</dt>
      <dd>ICQ: 563-533-804</dd>
      
      <dt class="ttl">Информация</dt>
      <dd><a href="mailto:info@moiluch.ru">info@moiluch.ru</a></dd>

      <dt class="ttl">Поддержка</dt>
      <dd><a href="mailto:support@moiluch.ru">support@moiluch.ru</a></dd>
      
      <dt class="ttl">Зона</dt>
      <dd>Москва и Московская область &mdash; курьерская доставка.</dd>
      <dd>Российская Федерация &mdash; почтовая доставка по предоплате.</dd>
    </dl>
			
    <img id="ico" src="/pics/fonarik.png"/>
    
    <h4>Новости одной строкой</h4>

    <ul>
      <li>Адаптивный поисковый движок!</li>
      <li>Мы открылись!</li>
    </ul>

    {# include "shop/inc-jabber.html" #}
  </div>

  <div id="right">
    <h3 class="ttl"><span></span>Популярные</h3>

    <table width="100%">
      <tr>
	<td valign="top" width="30%">
	  {% for item in items_col1 %}
	  {% include "shop/inc-column-items.html" %}
	  {% empty %}
	  К сожалению база товаров на данный момент пуста.
	  {% endfor %}
	</td>

	<td valign="top" width="30%">
	  {% for item in items_col2 %}
	  {% include "shop/inc-column-items.html" %}
	  {% empty %}
	  К сожалению база товаров на данный момент пуста.
	  {% endfor %}
	</td>
      </tr>
    </table>
  </div>
{% endblock %}
