{% extends "manager-base.html" %}

{% block content %}
<table class="orders" width="100%">
  <tr class="header">
    <th>№</th>
    <th>Клиент</th>
    <th>Кол-во</th>
    <th>Стоимость</th>
    <th>Состояние</th>
    <th>Заказан</th>
    <th>Курьер</th>
  </tr>
  {% for order in orders %}
  <tr onclick="document.location='{{ order.get_absolute_url }}';">
    <td class="right even">{{ order.id }}</td>
    <td>{{ order.buyer.lastname }} {{ order.buyer.firstname }} {{ order.buyer.secondname }}</td>
    <td class="center even">{{ order.count }} шт.</td>
    <td class="right">{{ order.totalprice|floatformat:2 }} руб.</td>
    <td class="center even">{{ order.status }}</td>
    <td class="center">{{ order.reg_date }}</td>
    <td class="even">
      <a href="{{ order.courier.get_absolute_url }}">{{ order.courier.lastname }} {{ order.courier.firstname }} {{ order.courier.pardname }}</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
