{% extends "shop/base.html" %}

{% block content %}
  <script>
    function add_tag_to_list(select, list) {
	var s_obj = $('#'+select)
	var l_obj = $('#'+list)
	var options = s_obj[0].options;
	var selected = s_obj[0].selectedIndex;
	l_obj.val(l_obj.val() + options[selected].value + ' ');
    }
  </script>
  <div id="left">
    <h3 class="ttl"><span></span>Категории</h3>

    {% include "shop/inc-category.html" %}

    <h3 class="ttl"><span></span>Облако поиска</h3>

    {% include "shop/inc-tagcloud.html" %}
  </div>

  <div id="right">
    <h3 class="ttl"><span></span>Поиск</h3>

    <form method="post" action="/result/">
      <table width="100%">
	<tr>
	  <td>
	    Запрос {{ fullsearchform.userinput }} {{ fullsearchform.howmuch }} шт. на странице
	  </td>
	</tr>
	<tr>
	  <td>
	    Диапазон цен
	    от {{ fullsearchform.min_price }}
	    до {{ fullsearchform.max_price }}
	    рублей.
	  </td>
	</tr>
	<tr>
	  <td>
	    Метки
	    {{ fullsearchform.tag_list }}
	    <input type="button" value="&larr;" 
		   onclick="add_tag_to_list('id_tag_select', 'id_tag_list');"
		   title="Добавить метку в список поиска"/>
	    <select id="id_tag_select" name="tag_select" id="field_tag_select">
	    {% for t in tags %}
	    <option value="{{ t }}">{{ t }}</option>
	    {% empty %}
	    <option value="">Метки отсутствуют</option>
	    {% endfor %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <td>
	    <input type="submit" name="go" value="Найти"/>
	  </td>
	</tr>
      </table>
    </form>
    
  </div>
{% endblock %}
