{% extends "shop/base.html" %}

{% block content %}
  <script>
    function add_tag_to_list(select, list) {
	var s_obj = $('#'+select)
	var l_obj = $('#'+list)
	var options = s_obj[0].options;
	var selected = s_obj[0].selectedIndex;
	l_obj.val(l_obj.val() + options[selected].value + ' ');
    }
  </script>
  <div id="left">
    <h3 class="ttl"><span></span>Категории</h3>

    {% include "shop/inc-category.html" %}

    <h3 class="ttl"><span></span>Облако поиска</h3>

    {% include "shop/inc-tagcloud.html" %}
  </div>

  <div id="right">
    <h3 class="ttl"><span></span>Поиск</h3>

    {% if error_desc %}<div id="error">{{ error_desc }}</div>{% endif %}
    
    <form method="post" action="/result/">
      <p>
	Запрос {{ searchform.userinput }} {{ searchform.howmuch }} шт. на странице
      </p>
      <p>
	Основные характеристики продукта:
      </p>
      <table id="simple_search" width="100%">
	{{ mainsearchform }}
      </table>

      <p>
	Уникальные характеристики продукта:
      </p>
      <table id="full_search" width="100%">
	{{ fullsearchform }}
	<tr>
	  <td>
	    <input type="submit" name="go" value="Найти"/>
	  </td>
	</tr>
      </table>
    </form>
    
  </div>
{% endblock %}
