{% extends "shop-base.html" %}

{% block content %}
<div class="content">
  <div class="title">
    Категории товаров
  </div>

  <div class="sectioncontent">
      
    {# Необходимо обеспечить вывод категорий в виде двух колонок. #}
    {# получаем список категорий, см. shop.views.show-shop-main #}

    {% for category in queryset %}
    <div class="category">
      <a href="{{ category.get_absolute_url }}">{{ category.name }}</a> ({{ category.category_set.count }})
      <div class="subcategories">

	{# модель categories имеет метод subcats, получаем два подчинённых элемента #}

	{% for subcat in category.subcats|slice:":2" %}
	<span class="subcategory">
	  
	  {# устанавливаем запятую после каждого элемента, кроме последнего #}
	  
	  <a href="{{ subcat.get_absolute_url }}">{{ subcat.name }}</a>{% if not forloop.last %}, {% endif %}
	  </span>
	  {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>

  {# Вывод популярных товаров #}
  {% if items %}<div class="title">Хиты продаж</div>{% endif %}
  {% include "inc-itemlist.html" %}

</div>
{% endblock %}
