{% load thumbnail_filter %}

<div id="widget_addtocart" class="popup abs border hide">
  <div class="body border">
    <div class="itemtitle">{{ item.title }}</div>
    <div class="itemqnty">Количество:
      <input type="text" id="widget_item_quantity" value="1" maxlength="2" title="Количество"/>
    </div>
  </div>

  <div class="icon border">
    <img src="{{ item.get_image_filename|thumbnail:"100x,itempics" }}" border="0" title="{{ item.title }}" />
  </div>
  <div class="popuphead abs border">Добавить в корзину</div>
  <div class="popupbtn no border pointer" id="widget_cancel" title="Отменить"><img src="http://cargo/pics/no.png" width="16" height="16"/></div>
  <div class="popupbtn ok border pointer" id="widget_apply" title="Добавить"><img src="http://cargo/pics/ok.png" width="16" height="16"/></div>

</div>

