{% extends "shopbase.html" %}

{% block content %}
<div>
  <div class="item">
    <div class="title">
      {{ item.title }}
    </div>
    
    <div class="categories title">
      <a href="/shop">Рынок</a> /
      {% for parcat in parent_cats %}
      <a href="{{ parcat.get_absolute_url }}">{{ parcat.name }}</a>{% if not forloop.last %} / {% endif %}
      {% endfor %}
    </div>
    
    <div style="padding: 1em;">
      <div style="image">
	<img src="http://cargo/pics/morda.png" width="100" height="100"/>
      </div>
      
      <div class="info">
	<div style="cursor: pointer;"
	  onClick="show_form({{ item.id }}, '{{ item.title }}'); return false;"><u>Добавить в корзину</u></div>
	<div>Цена: {{ item.price|floatformat:2 }} рублей.</div>
	<div>Описание:</div>
	<div class="desc">{{ item.desc }}</div>
      </div>
    
    </div>
  </div>
</div>
{% endblock %}
