{% extends "shop-base.html" %}

{% block content %}
<div class="content">
  <div class="title">
    Категории товаров
  </div>

  <div class="cat-widget">
    <a href="/shop">Главная</a> /
    {% for parcat in parent_cats %}
    <a href="{{ parcat.get_absolute_url }}">{{ parcat.name }}</a>{% if not forloop.last %} / {% endif %}
    {% endfor %}
  </div>
    
  <div class="sectioncontent">
    {# получаем список категорий, см. shop/urls.py #}
    {% for category in categories %}
    <div class="category">
      <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
      {% if category.category_set.count %}<span title="Есть подкатегории">(+)</span>{% endif %}
      <span title="Количество наименований товаров, попадающих в категорию">()</span>
      <div class="subcategories">
	{# модель categories имеет метод subcats, получаем два подчинённых элемента #}
	{% for subcat in category.subcats|slice:":2" %}
	<span class="subcategory">
	  {# устанавливаем запятую после каждого элемента, кроме последнего #}
	  <a href="{{ subcat.get_absolute_url }}">{{ subcat.name }}</a>{% if not forloop.last %}, {% endif %}
	</span>
	{% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>

  {% if producers %}
  <div class="sectioncontent">
    <div class="producers">
      {% for producer in producers %}
      <span class="subcategory">
	{# устанавливаем запятую после каждого элемента, кроме последнего #}
	<a href="{{ producer.get_absolute_url }}{{ currentcat.id }}">{{ producer.name }}</a>{% if not forloop.last %}, {% endif %}
      </span>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  
  {% if items %}
  <div class="sectioncontent">
    <div class="itemlist">
      {% for item in items %}
      <div class="itemshortinfo">
	<a href="{{ item.get_absolute_url }}"><img src="{{ item.get_image_url }}" border="0" title="{{ item.title }}"/></a>
	<div class="title">{{ item.title }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
