{% extends "shop-base.html" %}

{% load thumbnail_filter %}

{% block content %}
<div class="content">
  <div class="title">
    Категории товаров
  </div>

  <div class="cat-widget">
    <a href="/shop">Главная</a> /
    {% for parcat in parent_cats %}
    <a href="{{ parcat.get_absolute_url }}">{{ parcat.name }}</a>{% if not forloop.last %} / {% endif %}
    {% endfor %}
  </div>
    
  <div class="sectioncontent">
    {# получаем список категорий, см. shop/urls.py #}
    {% for category in categories %}
    <div class="category">
      <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
      {% if category.category_set.count %}<span title="Есть подкатегории">(+)</span>{% endif %}
      <span title="Количество наименований товаров, попадающих в категорию">()</span>
      <div class="subcategories">
	{# модель categories имеет метод subcats, получаем два подчинённых элемента #}
	{% for subcat in category.subcats|slice:":2" %}
	<span class="subcategory">
	  {# устанавливаем запятую после каждого элемента, кроме последнего #}
	  <a href="{{ subcat.get_absolute_url }}">{{ subcat.name }}</a>{% if not forloop.last %}, {% endif %}
	</span>
	{% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>

  {% if producers %}
  <div class="sectioncontent">
    <div class="producers">
      {% for producer in producers %}
      <span class="subcategory">
	{# устанавливаем запятую после каждого элемента, кроме последнего #}
	<a href="{{ producer.get_absolute_url }}{{ currentcat.id }}">{{ producer.name }}</a>{% if not forloop.last %}, {% endif %}
      </span>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  
  {% if items %}
  <div class="sectioncontent">
    <div class="itemlist">
      {% for item in items %}
      <div class="itemshortinfo">
	<div class="thumbnail">
	  <a href="{{ item.get_absolute_url }}">
	    <img src="{{ item.get_image_filename|thumbnail:"100x,itempics" }}"
	         border="0" title="{{ item.title }}" />
	  </a>
	</div>
	<div class="info">
	  <div class="title">{{ item.title }}</div>
	  <div class="more"><a href="{{ item.get_absolute_url }}">Далее...</a></div>
	</div>
	<div class="clear"></div>
      </div>
      {% endfor %}
    </div>
  </div>

  {# странички #}
  <div class="paginator">
    {% if page.has_previous %}
    <span title="Предыдущая страница"><a href="{{ currentcat.get_absolute_url }}{{ page.previous_page_number }}/">&lt;&lt;&lt;</a></span>
    {% endif %}
    {% for page_number in page_range %}
      {% ifnotequal page_number page.number %}
      <span><a href="{{ currentcat.get_absolute_url }}{{ page_number }}/">{{ page_number }}</a></span>{% if not forloop.last %}, {% endif %}
      {% else %}
      <span>{{ page_number }}</span>{% if not forloop.last %}, {% endif %}
      {% endifnotequal %}
    {% endfor %}
    {% if page.has_next %}
    <span title="Следующая страница"><a href="{{ currentcat.get_absolute_url }}{{ page.next_page_number }}/">&gt;&gt;&gt;</a></span>
    {% endif %}
  </div>

  {% endif %}
</div>
{% endblock %}
