{% extends "shop-base2.html" %}

{% block content %}
<div><span class="title">Информация о покупателе</span></div>
<div class="sectioncontent">
  <form id="customer" method="post" action="">
    <table class="container" celpadding="0" cellspacing="0">
      {{ form }}
    </table>
    
    <div class="right">
      <input type="submit" id="order_submit" value="Подтвердить заказ"/>
      <input type="reset" id="order_cancel"
	     onclick="clean_cart('/shop/'); $('order_submit').disabled=$('order_cancel').disabled=true;" 
	     value="Отменить заказ"/>
    </div>
  </form>
</div>
{% endblock %}
