{% extends "base-template.html" %}

{% block container %}
<table class="container" cellpadding="0" cellspacing="0">
  <tr>
    <td class="main" rowspan="2" width="60%">
      {% block content %}{% endblock %}
    </td>
    <td rowspan="2" width="24"/>
    <td class="search">
      <div>
	<span>Поиск</span>
	<span><input type="text" class=""/></span>
	<span><button>Найти</button></span>
      </div>
    </td>
  </tr>
  <tr>
    <td class="related">
      {% if howtos %}
      <div class="title">Помощь</div>
      {% for el in howtos %}
      <div class="howto">
	<a href="{{ el.get_absolute_url }}">{{ el.title }}</a>
      </div>
      {% endfor %}
      {% endif %}
      
      {% if producers %}
      <div class="title">Производители</div>
      {% for el in producers %}
      <div class="listitem">
	<a href="{{ el.get_absolute_url }}{{ currentcat.id }}/">{{ el.name }}</a>
      </div>
      {% endfor %}
      {% endif %}
    </td>
  </tr>
</table>
{% endblock %}
