{% extends "shopbase.html" %}

{% block content %}
<div class="categories">
  <div class="title">
    <a href="/shop">Рынок</a> /
    {% for parcat in parent_cats %}
      <a href="{{ parcat.get_absolute_url }}">{{ parcat.name }}</a>{% if not forloop.last %} / {% endif %}
    {% endfor %}
    <div class="sectioncontent">
      {# получаем список категорий, см. shop/urls.py #}
      {% for category in categories %}
      <div class="category">
	<a href="{{ category.get_absolute_url }}">{{ category.name }}</a> ({{ category.category_set.count }})
	<div class="subcategories">
	  {# модель categories имеет метод subcats, получаем два подчинённых элемента #}
	  {% for subcat in category.subcats|slice:":2" %}
	  <span class="subcategory">
	    {# устанавливаем запятую после каждого элемента, кроме последнего #}
	    <a href="{{ subcat.get_absolute_url }}">{{ subcat.name }}</a>{% if not forloop.last %}, {% endif %}
	  </span>
	  {% endfor %}
	</div>
      </div>
      {% endfor %}
    </div>
    <div class="sectioncontent">
      Производители:
      <div class="subcategories">
	{% for producer in producers %}
	<span class="subcategory">
	  {# устанавливаем запятую после каждого элемента, кроме последнего #}
	  <a href="{{ producer.get_absolute_url }}">{{ producer.name }}</a>{% if not forloop.last %}, {% endif %}
	</span>
	{% endfor %}
      </div>
    </div>
    <div class="sectioncontent">
      Товары:
      <div class="subcategories">
	{% for item in items %}
	<span class="subcategory">
	  {# устанавливаем запятую после каждого элемента, кроме последнего #}
	  <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>{% if not forloop.last %}, {% endif %}
	</span>
	{% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
