{% extends "base-template.html" %}

{% block container %}
<table class="container" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="main" rowspan="2" width="60%">
      {% block content %}{% endblock %}
    </td>
    <td rowspan="2" width="24">
    <td class="search">
      <div>
      <table>
	<tr>
	  <td class="middle">Поиск</td>
	  <td class="longitem middle center"><input type="text" class="wideitem"/></td>
	  <td class="middle"><button>Найти</button></td>
	</tr>
      </table>
      </div>
    </td>
  </tr>
  <tr>
    <td class="related">
      <div class="title">Помощь</div>
      <div class="category">
	Как выбрать товары
	<div class="subcategories">Интерфейс, Корзина, Сессия, ...</div>
      </div>
    </td>
  </tr>
</table>
{% endblock %}
