{% load thumbnail_filter %}

<div id="widget-addtocart" class="hide">
  <div class="body border">
    <div class="itemtitle">{{ item.title }}</div>
    <div class="itemqnty">Количество:
      <input type="text" id="widget_item_quantity" value="1" maxlength="2" title="Количество"/>
    </div>
  </div>

  <div class="icon border center" style="vertical-align: middle;">
    <img src="{{ item.image.path|thumbnail:"100x,itempics" }}" border="0" title="{{ item.title }}" />
  </div>
  <div class="popuphead border" style="сolor: #b964d4;">Добавить в корзину</div>
  <div class="popupbtn no border pointer" id="widget_cancel" title="Отменить"><img src="http://cargo/pics/no.png" width="16" height="16"/></div>
  <div class="ok"><button class="pointer" id="widget_apply">Добавить</button></div>

</div>

