{% load thumbnail_filter %}

{% if items %}

{% include "shop/inc-paginator.html" %}  

<div class="sectioncontent">
  <div class="itemlist">
    <table>
      {% for item in items %}
      <tr>
	<td class="thumbnail">
	  <a href="{{ item.get_absolute_url }}">
	  <!-- img src="{{ item.get_image_filename|thumbnail:"100x,itempics" }}" border="0" title="{{ item.title }}"/></a //-->
	  <img src="{{ item.image.path|thumbnail:"100x,itempics" }}" border="0" title="{{ item.title }}"/></a>
	</td>
	<td class="info">
	  <div style="margin: 0.5em 0em;">
	    <span class="itemtitle">{{ item.title }}</span>
	  </div>
	  {% if search_query or subitems or not currentcat %}
	  <div>
	    <span style="font-size: 10px;">Категория товара:
	    <a href="{{ item.category.get_absolute_url }}">{{ item.category.name }}</a>
	    </span>
	  </div>
	  {% endif %}
	  </div>
	  <div class="desc">
	    Цена: <span class="price">{{ item.price|floatformat:2 }}</span> руб.
	  </div>
	  <div class="more">
	    <a href="{{ item.get_absolute_url }}">Описание...</a>
	  </div>
	</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
  
{% include "shop/inc-paginator.html" %}  

{% include "shop/widget-addtocart.html" %}

{% endif %}
