{% extends "content.html" %}

{% load markup %}

{% block panel_top %}
<div class="title">
  Произошла ошибка
</div>
{% endblock %}

{% block panel_bottom %}
<div class="title">
  Произошла ошибка
</div>
{% endblock %}

{% block content %}
<div class="title">Ошибка 500</div>

<div class="warning">
  <p>
    В результате обработки запроса произошла страшная ошибка. Мы
    немедленно отправили сообщение об этом администратор и он уже
    полсекунды назад начал разбираться с данной проблемой.
  </p>
      
  <p>
    Возможно вам помогут метки или поиск?
  </p>
</div>
{% endblock %}
