<table style=" background-color: #FFEB73; margin-top: 1em;">
  <colgroup>
    <col width="200"/>
    <col width="auto"/>
  </colgroup>
  <tr>
    <td	style="color: white; background-color: #bfab30; padding: 1em; text-align: center;">
      Powered by <a href="http://djbook.ru/">Django</a>
    </td>
    <td style="padding-left: 3em; text-align: right; padding: 1em; ">
      <a href="mailto:info@moiluch.ru">@ Информация</a>
      <a href="mailto:support@moiluch.ru">@ Поддержка</a>
    </td>
  </tr>
</table>
