{# jabber client - begin #}
<div id="jabber-client" class="hide">
  <div class="title">Онлайн консультация</div>
  <img src="/pics/loading.gif" id="loading" style="position: fixed; z-index: 2;" class="hide"/>
  <div id="chat-window">
    <div style="padding: 4px; border: 1px solid orange; -moz-border-radius: 4px; background-color: #ffffaa;">
      Для отправки набранного сообщения просто нажмите [Enter]. Для прекращения сеанса &mdash; нажмите [Esc].
    </div>
    <div id="down"></div>
  </div>
  <div id="message-window">
    <input type="text" maxlength="1024" value=""/>
  </div>
</div>
{# jabber client - end #}

