{% if page %}
<div class="paginator">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <colgroup>
    <col width="auto"/>
    <col width="auto"/>
    <col width="auto"/>
  </colgroup>
    <tr>
      <td align="left">
	Страница <span id="current_page_number">{{ page.number }}</span> 
	из <span id="maximum_page_number">{{ page.paginator.num_pages }}</span>

	{% if page.previous_ten %}
	<a href="{{ url }}{{ page.previous_ten }}/">
	  <span title="Назад на 10 страниц" class="button">&lt;&lt;&lt;</span></a>
	{% else %}
	<span title="Назад на 10 страниц" class="button disabled">&lt;&lt;&lt;</span>
	{% endif %}

	{% if page.has_previous %}
	<a id="navigation_prev_page" href="{{ url }}{{ page.previous_page_number }}/">
	  <span title="Предыдущая страница" class="button">&lt;</span></a>
	{% else %}
	<span title="Предыдущая страница" class="button disabled">&lt;</span>
	{% endif %}

	{% if page.has_next %}
	<a id="navigation_next_page" href="{{ url }}{{ page.next_page_number }}/">
	  <span title="Следующая страница" class="button">&gt;</span></a>
	{% else %}
	<span title="Следующая страница" class="button disabled">&gt;</span>
	{% endif %}

	{% if page.next_ten %}
	<a href="{{ url }}{{ page.next_ten }}/">
	  <span title="Вперёд на 10 страниц" class="button">&gt;&gt;&gt;</span></a>
	{% else %}
	<span title="Вперёд на 10 страниц" class="button disabled">&gt;&gt;&gt;</span>
	{% endif %}
      </td>
      <td>&nbsp;</td>
      <td align="right" class="nowrap">
	<span title="Сортировка" class="pointer" onclick="document.location='/sort/1/';">Популярность
	  {% ifequal sort_type 1 %}<img src="http://moiluchru/pics/sort-down.png"/>{% endifequal %}
	  {% ifequal sort_type 2 %}<img src="http://moiluchru/pics/sort-up.png"/>{% endifequal %}
	</span>
	<span style="margin: 0px 1em;">&nbsp;</span>
	<span title="Сортировка" class="pointer" onclick="document.location='/sort/2/';">Цена
	  {% ifequal sort_type 3 %}<img src="http://moiluchru/pics/sort-down.png"/>{% endifequal %}
	  {% ifequal sort_type 4 %}<img src="http://moiluchru/pics/sort-up.png"/>{% endifequal %}
	</span>
      </td>
    </tr>
  </table>
</div>
{% endif %}
