{% extends "content.html" %}

{% block panel_top %}
<div class="title">
  Расширенный поиск
</div>
{% endblock %}

{% block panel_bottom %}
<div class="title">
  Расширенный поиск
</div>
{% endblock %}

{% block content %}
<script>
  function add_tag_to_list(select, list) {
      var s_obj = $('#'+select)
      var l_obj = $('#'+list)
      var options = s_obj[0].options;
      var selected = s_obj[0].selectedIndex;
      l_obj.val(l_obj.val() + options[selected].value + ' ');
      }
</script>
<div class="title">Рекомендации</div>
<div class="desc">
  <p>
    Если вы не желаете указывать диапазон, например, цены, то не
    вносите изменения в эти поля. Ноль в обоих полях означает, что
    данное условие не будет учитываться при выполнении поиска.
  </p>
  <p>
    Укажите тип товара для отображения поисковой формы по его
    уникальным характеристикам.
  </p>
</div>

{% if error_desc %}<div id="error">{{ error_desc }}</div>{% endif %}
    
<form id="advanced_search" method="post" action="/result/">
  <h2>Форма поиска</h2>

  <p align="center">
    {{ searchform.userinput }}
    <input type="hidden" name="howmuch" value="1"/>
  </p>
  
  <h3>Основные характеристики продукта</h3>
      
  <table id="simple_search" width="100%">
    {{ mainsearchform }}
    {{ sizesearchform }}
  </table>

  <img id="loading" class="hide" src="/pics/loading.gif" title="Ожидайте..." border="0"/>
  <table id="full_search" width="100%" class="hide">
  </table>
  
  <p align="right">
    <input type="submit" name="go" value="Найти"/>
  </p>
</form>
{% endblock %}
