{% load thumbnail_filter %}

<table width="100%" height="100" border="0" style="margin: 0.8em;">
  <colgroup>
    <col width="100"/>
    <col width="auto"/>
  </colgroup>
  <tr>
    <td class="thumbnail-containter" onclick="$('#cartadd_{{ item.id }}').toggleZoom(); return false;">
      <img src="{{ item.image.path|thumbnail:"100x,itempics" }}" 
	   id="thumbnail" border="0" 
	   title="{{ item.title }}: Нажмите, чтобы увеличить"/>
    </td>
    <td align="left">
      <div style="font-size: 130%;">Артикул: {{ item.title }}</div>
      <div>
	Категория:
	<a href="{{ item.category.get_absolute_url }}" style="white-space: nowrap;"
	   title="Просмотреть товары этой категории">{{ item.category.title }}</a>
      </div>
      <div>{% ifequal item.is_present 1 %}Есть в наличии{% else %}Ожидается{% endifequal %}</div>
      {% if item.collection %}
      <div>
	<a href="{{ item.collection.get_absolute_url }}" title="Перейти к товарам коллекции">Коллекция</a>
      </div>
      {% endif %}
      <div>Цвет: <span>{{ item.color }}</span></div>
      <div style="font-weight: bold;">Цена: <span>{{ item.get_price.1|floatformat:2 }}</span> руб.</div>
      <a href="{{ item.get_absolute_url }}" title="Перейти на страницу товара">Описание...</a>
    </td>
  </tr>
</table>

{% include "zoom.html" %}
