{% extends "shop/manager/base.html" %}

{% block content %}
<table class="orders" width="100%">
  <tr class="header">
    <th>№</th>
    <th>Клиент</th>
    <th>Кол-во</th>
    <th>Стоимость</th>
    <th>Состояние</th>
    <th>Заказан</th>
    <th>Курьер</th>
  </tr>
  {% for order in orders %}
  <tr onclick="document.location='{{ order.get_absolute_url }}';">
    <td class="right even">{{ order.id }}</td>
    <td class="" title="{{ order.buyer.lastname }} {{ order.buyer.firstname }} {{ order.buyer.secondname }}">
      {{ order.buyer.lastname }} {{ order.buyer.firstname }} {{ order.buyer.secondname }}
    </td>
    <td class="center even nowrap">{{ order.count }} шт.</td>
    <td class="right nowrap">{{ order.totalprice|floatformat:2 }} руб.</td>
    <td class="center even">{{ order.status }}</td>
    <td class="center">{{ order.reg_date }}</td>
    <td class="even">{{ order.courier.get_full_name }}</td>
  </tr>
  {% endfor %}
</table>

{# странички #}
<div class="paginator">
  {% if page.has_previous %}
  <span title="Предыдущая страница"><a href="{{ url }}{{ page.previous_page_number }}/">&lt;&lt;&lt;</a></span>
  {% endif %}
  {% for page_number in page_range %}
    {% ifnotequal page_number page.number %}
    <span><a href="{{ url }}{{ page_number }}/">{{ page_number }}</a></span>{% if not forloop.last %}, {% endif %}
    {% else %}
    <span>{{ page_number }}</span>{% if not forloop.last %}, {% endif %}
    {% endifnotequal %}
  {% endfor %}
  {% if page.has_next %}
  <span title="Следующая страница"><a href="{{ url }}{{ page.next_page_number }}/">&gt;&gt;&gt;</a></span>
  {% endif %}
</div>
{% endblock %}
