{% load markup %}

{% if news_list %}
{% for news in news_list %}
  <div class="news">
    <div style="background-color: #94CE4A; font-family: arial; font-size: 12px; font-weight: bold; padding: 0px 4px; margin-bottom: 4px;">
      {{ news.datetime }}
    </div>
    <div style="font-family: sans-serif; font-size: 14px; font-weight: bold; padding: 0px 4px; margin-bottom: 4px;">
      {{ news.title }}
    </div>
    <div style="font-family: arial; font-size: 12px; padding: 0px 4px; margin-bottom: 4px;">
      {{ news.text|markdown }}
    </div>
    <br/>
  </div>
{% endfor %}
{% else %}
  <div class="area-title">Оглавление</div>
  {% for c in toc.chapters %}
    <div class="tocmini-chapter"><a href="{{c.0}}">{{ c.1 }}<a></div>
    {% ifequal c.0 toc.chapter_url %}
      <div class="tocmini-sections">
        {% for s in toc.sections %}
          <div class="tocmini-section"><a href="{{s.0}}">{{ s.1 }}<a></div>
        {% endfor %}
      </div>
    {% endifequal %}
  {% endfor %}
{% endif %}
