{% extends "base.html" %}
{% load markup %}
{% load webdesign %}

{% block structure %}
<body onLoad="init(); spelling.init();">

{% include "djangobook-inc-header.html" %}
{% include "djangobook-inc-search.html" %}

<table width="100%" border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td width="25%" valign="top">
      {# левая колонка #}
      {% include "djangobook-inc-archive.html" %}
    </td>
    <td width="*" valign="top" class="content">
      {% for n in news_list %}
      <div class="news-block">
	<div><span class="title">{{ n.title }}</span> <span class="date">{{ n.datetime|date:"d m Y" }}</span></div>
	<div style="padding-left: 1em;">{{ n.text|truncatewords:20|markdown }}</div>
	<div style="padding-left: 1em; text-align: right"><a href="{{ n.get_absolute_url }}">Далее</a></div>
      </div>
      {% if not forloop.last %}<hr size="1" style="color: #94CE4A;"/>{% endif %}
      {% endfor %}
    </td>
    <td width="116" valign="top">
      {# правая колонка #}
      {% include "djangobook-inc-adds.html"%}
    </td>
  </tr>
</table>

{% include "djangobook-inc-footer.html" %}
</body>
{% endblock %}
