{% extends "base.html" %}
{% load markup %}
{% load webdesign %}

{% block structure %}
<body onLoad="init(); spelling.init();">

{% include "djangobook-inc-header.html" %}
{% include "djangobook-inc-search.html" %}

<table width="100%" border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td width="25%" valign="top">
      {# левая колонка #}
      {% include "djangobook-inc-news.html" %}
    </td>
    <td width="50%" valign="top" class="content">
      {{ page_content|safe }}
    </td>
    <td width="15%" valign="top">
      {# правая колонка #}
      {% include "djangobook-inc-adds.html"%}
    </td>
  </tr>
</table>

{% include "djangobook-inc-footer.html" %}
</body>
{% endblock %}
