<form>
  <div class="claim-title">
    Форма сообщения об ошибке
  </div>
  <div class="claim-context">
    Контекст ошибки
    <div class="claim-context-widget">
      <span id="context_left"/>
      <span id="context_error" class="claim-error"/>
      <span id="context_right"/>
    </div>
  </div>
  <div class="claim-comment">
    Комментарий
    <div>
      <textarea>Ваш комментарий</textarea>
    </div>
  </div>
  <div>
    <button id="claim-send">Отправить</button>
    <span> </span>
    <button id="claim-cancel">Отменить</button>
  </div>
</form>
